# Dependências
# Ignora a pasta que contém todos os pacotes baixados
/node_modules

# Arquivos de Build
# Ignora a pasta que o Vite cria com os arquivos finais para produção
/dist

# Logs
# Ignora logs de erro e depuração do npm e yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de ambiente
# Ignora arquivos que guardam segredos e chaves de API
.env
.env.local
.env.*.local

# Arquivos de cache e temporários
# Ignora caches de ferramentas de desenvolvimento
.npm
.yarn-cache
.eslintcache
.vite-node-cache

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
