@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  color-scheme: dark;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Estilos globais opcionais */
body {

  @apply bg-gray-100 text-gray-800 font-sans dark:bg-gray-900 dark:text-gray-100;
}